[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["full"], version = "*"}
alembic = "*"
sqlalchemy = "*"
uvicorn = "*"
pydantic-settings = "*"
asyncpg = "*"
httpx = "*"
pytest = "*"
pytest-asyncio = "*"
fastapi-cli = "*"
python-dotenv = "*"
asyncio = "*"

[dev-packages]

[scripts]
create-db = "python3 create_db.py"
test = "pytest -p no:warnings -v tests/"
makemigrations = "alembic revision --autogenerate"
migrate = "alembic upgrade head"

[requires]
python_version = "3.12"
